body {
  text-align: center;
  
}

.headig{
   margin-top: 100px;
}


.input {
  height: 24px;
  width: 500px;
}


button {
  border: none;
  background-color: rgb(24, 239, 24);
  color: aliceblue;
  cursor: pointer;
  width: 70px;
  height: 30px;
}

.delete-btn {
  background-color: red;
  display: flex;
  justify-self: end;
  margin-right: 10px;
  padding-top: 8px;
  padding-left: 12px;
}

main {
  background-color: burlywood;
  width: 600px;
  height: 580px;
}

p {
  color: white;
  display: flex;
  margin-top: 0;
  align-items: start;
  justify-self: right;
  background-color: hsl(208, 74%, 13%);
  padding: 10px;
  max-width: 100vh;
  
}


.to-do-list{
   display: flex;
   justify-content: space-between;
   margin-top: 15px;
   margin-left: 10px;
}

